<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="DATABASE"
              class="SGCF_back.Camilaronzzani.com.github.sgcf_back.Config.DatabaseLogAppender"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DATABASE"/>
    </root>

</configuration>
